<%- include('partials/header'); -%>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">This is contact page</h1>
    </div>
</main>


<%- include('partials/footer'); -%>
