<%- include('partials/header'); -%>

<main role="main" class="flex-shrink-0">
  <form action="" method="post">
      <p>Name</p>
      <input type="text" placeholder="Input your name">
      <p>Address</p>
      <input type="text" placeholder="Input your address">
      <button type="submit">Submit</button>
    </form>
</main>

<%- include('partials/footer'); -%>
